@font-face {
  font-family: "Barlow";
  src: url("Barlow-Bold.eot");
  src: url("Barlow-Bold.eot?#iefix") format("embedded-opentype"),
    url("Barlow-Bold.woff2") format("woff2"),
    url("Barlow-Bold.woff") format("woff"),
    url("Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-Black.eot");
  src: url("Barlow-Black.eot?#iefix") format("embedded-opentype"),
    url("Barlow-Black.woff2") format("woff2"),
    url("Barlow-Black.woff") format("woff"),
    url("Barlow-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-Medium.eot");
  src: url("Barlow-Medium.eot?#iefix") format("embedded-opentype"),
    url("Barlow-Medium.woff2") format("woff2"),
    url("Barlow-Medium.woff") format("woff"),
    url("Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-Light.eot");
  src: url("Barlow-Light.eot?#iefix") format("embedded-opentype"),
    url("Barlow-Light.woff2") format("woff2"),
    url("Barlow-Light.woff") format("woff"),
    url("Barlow-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-ExtraLight.eot");
  src: url("Barlow-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("Barlow-ExtraLight.woff2") format("woff2"),
    url("Barlow-ExtraLight.woff") format("woff"),
    url("Barlow-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"),
    url("Barlow-Regular.woff2") format("woff2"),
    url("Barlow-Regular.woff") format("woff"),
    url("Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-ExtraBold.eot");
  src: url("Barlow-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Barlow-ExtraBold.woff2") format("woff2"),
    url("Barlow-ExtraBold.woff") format("woff"),
    url("Barlow-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-SemiBold.eot");
  src: url("Barlow-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Barlow-SemiBold.woff2") format("woff2"),
    url("Barlow-SemiBold.woff") format("woff"),
    url("Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-Thin.eot");
  src: url("Barlow-Thin.eot?#iefix") format("embedded-opentype"),
    url("Barlow-Thin.woff2") format("woff2"),
    url("Barlow-Thin.woff") format("woff"),
    url("Barlow-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
